.right__sidebar, .left__sidebar {
	position: relative;
	cursor: pointer;
	.widget--chanel {
		list-style: none;
		margin: 0;
		.inline-items {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 18px 25px;
			border-bottom: 1px solid #e6ecf5;
			.sn {
				display: flex;
				align-items: center;
				&-thumb {
					width: 36px;
					height: 36px;
					min-width: 36px;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					border-radius: 100%;
					margin-right: 10px;
					background-color: #179cde;
					color: #ffffff;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				p {
					margin: 0;
					font-weight: 700;
				}
			}
		}
	}
}

.left__sidebar {
	&__menu {
		list-style: none;
		margin: 0;
		.inline-items {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			border-bottom: 1px solid #e6ecf5;
			a {
				display: flex;
				width: 100%;
				height: 100%;
				align-items: center;
				color: #404257;
				padding: 18px 25px;
				text-decoration: none;
				&:active {
					background: rgba(204, 204, 204, .3);
				}
				.icon {
					margin-right: 20px;
					margin-top: -2px;
					font-size: 20px;
				}
				.icon-two-users {
					font-size: 25px;
					margin-right: 15px;
				}
			}
		}
	}
}

.relative {
	position: relative;
	transition: .3s;
	right: 0;
}

.list-channel {
	height: 292px;
	li {
		transition: .3s;
		position: relative;

		.sn {
			display: flex;
			align-items: center;
			width: 100%;
			white-space: nowrap;
			&:hover .sn-event {
				width: calc(100% - 80px);
			}
			&-thumb {
				width: 36px;
				height: 36px;
				min-width: 36px;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				margin-right: 10px;
				background-color: #179cde;
				color: #ffffff;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&-event {
				width: 100%;
				overflow: hidden;
			}
			p {
				margin: 0;
				font-weight: 700;
				width: 100%;
				overflow: hidden;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
				font-size: 14px;
			}
		}

		.delete {
			display: none;
			color: rgba(243, 60, 60, 0.8);;
			font-size: 13px;
			transition: .3s;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			&:hover {
				color: darken(rgba(243, 60, 60, 0.8), 10%);
			}
		}
		&:hover .delete {
			display: flex;
		}
	}
}

.user_block {
	width: 100%;
	height: 150px;
	background: #cccccc;
	position: relative;
	&_wallpaper {
		width: 100%;
		height: 100%;
		background: #ccc url("../img/wallpaper.jpg") center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			-webkit-box-shadow: inset 0 -120px 55px -30px rgba(0, 0, 0, 0.5);
			box-shadow: inset 0 -120px 55px -30px rgba(0, 0, 0, 0.5);
		}
	}
	&_top-header-author {
		position: absolute;
		bottom: 15px;
		left: 15px;
		display: flex;
		align-items: flex-end;
		.author-thumb {
			display: block;
			width: 60px;
			height: 60px;
			overflow: hidden;
			border: 3px solid #fff;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			margin-right: 15px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.author-name {
			color: #ffffff;
		}
	}
}

.right__sidebar {
	width: 100%;
	height: calc(100vh + 70px);
	position: fixed;
	right: -100%;
	transition: .3s;
	display: flex;
	justify-content: flex-end;
	top: 0;
	z-index: 600;
	opacity: 0;
	overflow-y: auto;
	background: rgba(#000, .2);
	.wrapper {
		width: 80%;
		max-width: 305px;
		box-shadow: -5px 2px 52px -5px rgba(0, 0, 0, 0.75);
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		border: none;
		cursor: default;
	}
	.white-block-title {
		border-top: none;
	}
}

.left__sidebar {
	width: 100%;
	height: calc(100vh + 70px);
	position: fixed;
	left: -100%;
	transition: .3s;
	display: flex;
	justify-content: flex-start;
	top: 0;
	z-index: 600;
	opacity: 0;
	overflow-y: auto;
	background: rgba(#000, .2);
	.wrapper {
		width: 80%;
		max-width: 305px;
		box-shadow: -5px 2px 52px -5px rgba(0, 0, 0, 0.75);
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		border: none;
		cursor: default;
	}
	.white-block-title {
		border-top: none;
	}
}

.open {
	right: 0;
	opacity: 1;
}

.open_left {
	left: 0;
	opacity: 1;
}

.section_open_left {
	right: 40%;
}

.section_open_right {
	right: -40%;
}

.header-page {
	background: #404257;
	height: 70px;
	width: 100%;
	-webkit-box-shadow: inset 0px -3px 0px 0px rgba(51, 52, 69, 1);
	-moz-box-shadow: inset 0px -3px 0px 0px rgba(51, 52, 69, 1);
	box-shadow: inset 0px -3px 0px 0px rgba(51, 52, 69, 1);
	padding-right: 70px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	transition: .8s;
	opacity: 1;
	top: 0;
	left: 0;
	z-index: 99;
	&--logo {
		height: 70px;
		width: 70px;
		background-color: #50bfa4;
		-webkit-box-shadow: inset 0px -3px 0px 0px rgba(66, 155, 133, 1);
		-moz-box-shadow: inset 0px -3px 0px 0px rgba(66, 155, 133, 1);
		box-shadow: inset 0px -3px 0px 0px rgba(66, 155, 133, 1);
		display: flex;
		align-items: center;
		justify-content: center;
		&-img {
			width: 42px;
		}
	}
	&--pagename {
		color: #ffffff;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 700;
		height: 100%;
		min-width: 170px;
		display: flex;
		align-items: center;
		&-text {
			padding: 0 30px;
			margin-bottom: 0;

		}
	}
	&-content-wrapper {
		display: flex;
		width: calc(100% - 240px);
		justify-content: space-between;
		height: 100%;
	}
	&--search {
		position: relative;
		width: 500px;
		height: 100%;
		background-color: #4a4c63;
		font-size: .875rem;
		display: flex;
		&-input {
			width: 100%;
			height: 100%;
			border: none;
			background-color: transparent;
			margin-bottom: 0;
			padding: 0 30px;
			color: #edf2f6;
			-webkit-box-shadow: inset 0px -3px 0px 0px rgba(63, 64, 84, 1);
			-moz-box-shadow: inset 0px -3px 0px 0px rgba(63, 64, 84, 1);
			box-shadow: inset 0px -3px 0px 0px rgba(63, 64, 84, 1);
			&::placeholder {
				color: rgba(#edf2f6, .5);
			}
		}
		button {
			display: flex;
			position: absolute;
			right: 30px;
			transform: translateY(-50%);
			top: 50%;
			background: none;
			border: none;
			cursor: pointer;
			outline: none;
			.icon {
				width: 1.2rem;
				height: 1.2rem;
				color: rgba(#ffffff, .5)
			}
		}
	}
	&--navmenu {
		display: flex;
		&--items {
			display: flex;
			justify-content: space-around;
			align-items: center;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		&-item {
			position: relative;
			margin: 20px;
			a {
				display: flex;
				color: rgba(#ffffff, .5);
				transition: .3s;
				.icon {
					width: 1.2rem;
					height: 1.2rem;

				}
				&:hover {
					color: #ffffff;
				}
			}
			&-notify {
				position: absolute;
				width: 14px;
				height: 14px;
				border: 3px solid #404257;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
				background-color: #50bfa4;
				top: -4px;
				right: -4px;
			}
		}
	}
	&--dropdown.active {
		background-color: #333445;
		color: #ffffff;
	}
	&--dropdown {
		display: flex;
		align-items: center;
		padding: 17px;
		color: rgba(#ffffff, .5);
		position: relative;
		cursor: pointer;
		transition: .2s;
		font-size: .875rem;
		.icon {
			transition: .2s;
		}
		&:hover, &:active {
			background-color: #333445;
		}
		&:hover .icon {
			color: #ffffff;
		}
		&-wrapper {
			display: flex;
			align-items: center;
		}
		&-useravatar {
			width: 45px;
			height: 45px;
			display: inline-block;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			overflow: hidden;
			margin: 0 15px;
			img {
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		}
		&-menu {
			position: absolute;
			top: 100%;
			right: 0;
			width: 100%;
			min-width: 170px;
			margin: 0;
			background: #404257;
			list-style: none;
			border-radius: 0 0 3px 3px;
			overflow: hidden;
			li {
				width: 100%;
				& + li {
					border-top: 1px solid rgba(#eee, .5);
				}
				&:hover {
					background-color: #333445;
				}
				a {
					color: #ffffff;
					display: block;
					padding: 15px 17px;
					transition: .3s;
					text-decoration: none;
				}
			}
		}
	}
}

.more {
	position: relative;
	display: flex;
	.icon {
	}
	&:hover .more-dropdown, &:active .more-dropdown {
		visibility: visible;
		opacity: 1;
	}
	&-dropdown {
		display: block;
		position: absolute;
		top: 100%;
		right: 0;
		width: 180px;
		box-shadow: 0 0 34px 0 rgba(63, 66, 87, .1);
		background-color: #fff;
		border-radius: 4px;
		visibility: hidden;
		opacity: 0;
		transition: all .3s;
		text-align: left;
		padding: 5px 0;
		z-index: 5;
		font-size: .75rem;
		list-style: none;
		a {
			text-decoration: none;
			transition: .3s;
			display: block;
			color: #404257;
			font-weight: 700;
			&:hover {
				color: #50bfa4;
			}
		}

		li {
			padding: 10px 15px;
			background-color: transparent;
		}
	}
}

.section {
	position: relative;
	padding: $gutter 90px;
	margin-top: 80px;
	transition: .3s;
	right: 0;
	.new-post {
		&--header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: $gutter - 5px;
			&--title {
				display: flex;
				align-items: center;
				margin: 0;
				color: #404257;
				font-size: .875rem;
				span {
					display: flex;
					align-items: center;
					color: #50bfa4;
					margin-right: 10px;
				}
			}
			&--more {
				display: flex;
				align-items: center;
				cursor: pointer;
				color: #b1b5b9;
				.icon {
					width: 1rem;
					height: 1rem;
				}
			}
		}
		&--field {
			position: relative;
			img {
				position: absolute;
				width: 36px;
				height: 36px;
				left: 15px;
				top: 15px;
				object-fit: cover;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
			}
			textarea {
				border: 1px solid rgb(232, 238, 245);
				border-left: none;
				border-right: none;
				width: 100%;
				resize: none;
				padding: $gutter $gutter $gutter 66px;
				height: 65px;
				max-height: 150px;
				font-size: 0.875rem;
				display: block;
				transition: .3s;
				&:focus {
					height: 100px;
				}
				&:focus .new-post--add-photo {
					display: none;
				}
			}
		}
		&--add-photo {
			position: absolute;
			right: 15px;
			top: 20px;
			font-size: 1.5rem;
			color: #a3a8ad;
			input[type="file"] {
				display: none;
			}
			label {
				margin: 0;
				display: flex;
				cursor: pointer;
				transition: .3s;
				&:hover {
					color: #515365;
				}
			}
		}
		&--control {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 15px;
		}
		&--select-files {
			display: flex;
			font-size: 1.5rem;
			color: #a3a8ad;
			input[type="file"] {
				display: none;
			}
			label {
				margin: 0;
				display: flex;
				cursor: pointer;
				transition: .3s;
				&:hover {
					color: #515365;
				}
			}
			&--file {
				margin-right: 15px;
			}
		}
	}
	.post {
		padding: 15px 15px 15px 15px;
		border-bottom: 1px solid #e6ecf5;
		&--author {
			display: flex;
			align-items: center;
			justify-content: space-between;
			&-user {
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}
			img {
				width: 40px;
				height: 40px;
				border-radius: 100%;
				overflow: hidden;
				margin-right: 12px;
			}
			&-date {
				font-size: .875rem;
				color: #939393;
			}
			&-name, a {
				color: #404257;
				font-weight: 700;
			}
			&-channel {
				margin-right: 5px;
				font-size: 12px;
			}
		}
		&--date a {
			font-size: 0.75rem;
			color: #939393;
			font-weight: 400;
		}
		p {
			color: #4e516b;
			margin: 15px 0;
			font-size: .875rem;
			line-height: 1.5;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
		&__media {
			width: 100%;
			&__album {

				//display: flex;
				width: 500px;
				//flex-wrap: wrap;
				//justify-content: center;
				img {
					//width: auto;
					//max-width: 50%;
					//max-height: 200px;
					//object-fit: cover;
					cursor: pointer;
				}
				&__video{
					width: auto;
					max-height: 350px;
					margin: 2px;
					background: #000;
				}
			}
			&__img {
				width: 100%;
				max-height: 350px;
				object-fit: contain;
				cursor: pointer;
			}
			&__video {
				width: 100%;
				max-height: 350px;
				background: #000;
			}
		}
		&__webpage {
			border-left: 3px solid #e8eef5;
			padding-left: 15px;
			a {
				display: flex;
				align-items: flex-start;
				text-decoration: none;
				font-size: 15px;
			}
			&__sitename {
				color: #2e87ca;
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 10px;
			}
			&__title {
				color: #404257;
				font-weight: 700;
				margin-bottom: 10px;
			}
			&__description {
				color: #404257;
			}
			//.videoWrapper {

			//}
			//.videoWrapper iframe {
			//  position: absolute;
			//  top: 0;
			//  left: 0;
			//  width: 100%;
			//  height: 100%;
			//}
			&__video {
				position: relative;
				padding-bottom: 56.25%; /* 16:9 */
				padding-top: 25px;
				height: 0;
				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
				}
			}
			&__photo {
				width: 100%;
				img {
					width: 100%;
					max-height: 350px;
					object-fit: contain;
				}
			}
			&__image {
				width: 100px;
				min-width: 100px;
				height: 100px;
				margin-left: 15px;
				margin-top: 30px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		&-additional-info {
			border-top: 1px solid #e6ecf5;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			justify-content: space-between;
			margin-left: -15px;
			margin-right: -15px;
			padding-top: 15px;
			padding-left: 15px;
			padding-bottom: 15px;
		}
		&-additional-comment {
			border-top: 1px solid #e6ecf5;
			margin-left: -15px;
			margin-right: -15px;
			//background-color: #fafbfd;
			position: relative;
			&:after {
				display: block;
				content: '';
				clear: both;
			}
			img {
				position: absolute;
				width: 36px;
				height: 36px;
				left: 15px;
				top: 15px;
				object-fit: cover;
				-webkit-border-radius: 100%;
				-moz-border-radius: 100%;
				border-radius: 100%;
			}
			.comment-field {
				border: none;
				border-bottom: 1px solid transparent;
				width: 100%;
				resize: none;
				padding: 20px 20px 20px 65px;
				min-height: 65px;
				font-size: 0.875rem;
				display: block;
				-webkit-transition: .3s;
				transition: .3s;
				background-color: transparent;
				outline: none;
				&:empty:before {
					content: attr(placeholder);
					display: block; /* For Firefox */
					color: #636688;
					cursor: text;
				}
				&:empty:focus:before {
					content: "";
				}
				&:focus {
					min-height: 100px;
					//border-bottom: 1px solid #e6ecf5;
				}
			}
			.focus {
				border-bottom: 1px solid #e6ecf5;
			}
			button {
				display: flex;
				font-size: 30px;
				background: transparent;
				border: none;
				outline: none;
				color: #50bfa4;
				cursor: pointer;
				//align-self: flex-end;
				margin-bottom: 15px;
				margin-top: 15px;
				margin-right: 15px;
				float: right;
			}
		}
		&-like, &-comments-shared {
			display: flex;
		}
		&-add {
			display: flex;
			&-icon {
				color: #a3a8ad;
				font-size: 1rem;
				display: flex;
				align-items: center;
				text-decoration: none;
				margin-right: 15px;
				font-weight: 700;
				transition: .3s;
				span {
					margin-left: 5px;
					font-size: .875rem;
				}
				&:hover {
					color: #515365;
				}
			}
		}
		.friends-like {
			list-style: none;
			display: flex;
			margin: 0;
			margin-right: 15px;
			li {
				&:first-child a {
					margin: 0;
				}
			}
			a {
				width: 32px;
				height: 32px;
				border-radius: 100%;
				overflow: hidden;
				border: 2px solid #fff;
				display: block;
				margin-left: -12px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.names-people-likes {
			font-size: 0.75rem;
			a {
				color: #515365;
				font-weight: 700;
			}
		}
	}
	.widget--chanel {
		list-style: none;
		margin: 0;
		&--list {
			.inline-items {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 18px 25px;
				border-bottom: 1px solid #e6ecf5;
				&:hover .sn-event {
					width: calc(100% - 60px);
				}
				&-preload {
					padding: 0;
					border-bottom: 1px solid #e6ecf5;
					svg {
						width: 100%;
						height: 100%;
					}
				}
				.sn {
					display: flex;
					align-items: center;
					width: 100%;
					white-space: nowrap;
					&-thumb {
						width: 36px;
						height: 36px;
						min-width: 36px;
						overflow: hidden;
						display: flex;
						justify-content: center;
						align-items: center;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						border-radius: 100%;
						margin-right: 10px;
						background-color: #179cde;
						color: #ffffff;
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					&-event {
						width: 100%;
						overflow: hidden;
					}
					p {
						margin: 0;
						font-weight: 700;
						width: 100%;
						overflow: hidden;
						-ms-text-overflow: ellipsis;
						text-overflow: ellipsis;
					}
				}
			}
		}
		.inline-items {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 18px 25px;
			border-bottom: 1px solid #e6ecf5;
			&-preload {
				padding: 0;
				border-bottom: 1px solid #e6ecf5;
				svg {
					width: 100%;
					height: 100%;
				}
			}
			.sn {
				display: flex;
				align-items: center;
				&-thumb {
					width: 36px;
					height: 36px;
					min-width: 36px;
					overflow: hidden;
					display: flex;
					justify-content: center;
					align-items: center;
					-webkit-border-radius: 100%;
					-moz-border-radius: 100%;
					border-radius: 100%;
					margin-right: 10px;
					background-color: #179cde;
					color: #ffffff;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				p {
					margin: 0;
					font-weight: 700;
				}
			}
		}
	}
}

